<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <ul class="card__wrapper" *ngIf="products">
  <li *ngFor="let product of products; let i = index">
      <div class="card">
        <div class="card__image-wrapper">
          <img src="../../assets/products/{{ product.image }}" alt="{{ product.service }}" class="card__image">
        </div>
        <h2 class="card__title">{{ product.service }}</h2>
        <p class="card__cost">{{ product.price | currency }}</p>
        <button value="{{ i }}" class="cta card__button">Add to list</button>
      </div>
    </li>
  </ul>
  <button class="cta submit" type="submit">Submit Order</button>
</form>
<!-- Form end -->
